.about {
    height: fit-content;
    position:relative;
    .about-title {
        transform: translateX(100%);
        width: 100%;
        text-align: right;
        @include breakpoint (mobile) {
            width: 90%;
            transform: none;
        }
    }
    .about-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .about-text {
            opacity: 0;
            width: 50%;
            margin: 100px 0px;
    
            font-size: 1.5rem;
            line-height: 2.5rem;
    
            .underline {
                text-decoration: underline;
            }

            @include breakpoint (mobile) {
                margin-left: 50px;
            }
        }
        .about-image-container {
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: center;
            @include breakpoint(tablet) {
                width: initial;
            }
            @include breakpoint (mobile) {
                display: none;
            }
            .about-image {
                width: 400px;
                height: 400px;
                border-radius: 50%;
                @include breakpoint(tablet) {
                    width: 300px;
                    height: 300px;
                }
                
            }
        }
        
    }
}