.banner {
    margin-left: 100px;

    position: relative;
    height: 100vh;
    
    background-color: white;

    display: flex;
    align-items: center;

    @include breakpoint(tablet) {
        margin-left: 50px;
        height: 80vh;
    }
    @include breakpoint(mobile) {
        margin-left: 0;
        height: 95vh;
        max-width: 414px;
    }

    .banner-text {
        position: relative;
        z-index: 5;
        
        @include breakpoint(mobile) {
            margin: auto;
        }
        
        .title-text {
            font-size: 1.5rem;
        }
        .bottom-right {
            position: absolute;
            right: 0px;
        }
        .name-container {
            width: fit-content;
            position: relative;
            font-size: 8rem;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 1rem;

            @include breakpoint(tablet) {
                color: black;
                -webkit-text-stroke: 3px white;
                font-size: 7rem;
            }
            @include breakpoint(mobile) {
                color: black;
                -webkit-text-stroke: 3px white;
                font-size: 4.5rem;
                letter-spacing: normal;
            }

            .title-name {
                width: 100%;
                text-align: right;
            }
        }
        
    }
    .canvas-container {
        z-index: 0;
        @include breakpoint(tablet) {
            position: absolute;
            left: -150px;
            top: 50px;
        }
        @include breakpoint(tablet) {
            max-width: 1024px;
            overflow: hidden;
        }
        @include breakpoint(mobile) {
            max-width: 464px;
            overflow: hidden;
            left: -50px;
            top:0px;
        }
    }
    
}
.scroll-prompt {
    display: inline-block;
    width: 100vw;
    text-align: center;
    @include breakpoint(mobile) {
        margin-bottom: 100px;
    }
}