.contact {
    
    .contact-icon-container {


        width: 300px;
        margin: 50px auto;
        display: flex;
        justify-content: space-between;

        .contact-icon {
            width: 50px;
        }
    }
}