.contact {
    margin-bottom: 400px;
    .contact-title {
        transform: translateX(-100%)
    }
    .contact-description {
        font-size: 3rem;
        margin-left: 300px;
    }
    .contact-link-container {
        width: 400px;
        margin: 50px auto;
        display: flex;
        justify-content: space-between;

        .contact-link {
            border: 1px solid black;
            padding: 5px;
            font-size: 2rem;
            color: black;
            text-decoration: none;
            transform: translateY(60px);
        }
    }
}