.project-item-container {
    width: 1100px;
    margin: 100px auto;

    
    position: relative;

    .project-item-title {
        font-size: 4rem;
        font-weight: 700;
        letter-spacing: .5rem;
        text-transform: uppercase;
    }
    .right {
        text-align: right;
    }
    .img-wrapper {
        width: 500px;
        margin: auto;
    .project-item-img {
        width: 500px;
    }
        
    }
    .project-item-bottom-container {
        width: 875px;
        margin: auto;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        text-align: center;

        .project-item-description {
            width: 500px;
            margin: 20px auto;
            font-size: 1.5rem;
            line-height: 2rem;
        }
        
        .link-img {
            width: 50px;
        }
        
    }
    
}