.section-title {
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: .5rem;
    text-transform: uppercase;
}

.text-break {
    width: 200px;
    height: 20px;

    margin: 20px 40px;

    background-color: black;
}