@mixin breakpoint ($point) {
    @if $point == mobile {
        @media screen and (max-width: 414px) {@content;}
    }
    @else if $point == tablet { 
        @media screen and (max-width: 1024px) {@content;}
    }
}


.section-title {
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: .5rem;
    text-transform: uppercase;
    @include breakpoint (tablet) {
        font-size: 3rem;
    }
}

.text-break {
    width: 200px;
    height: 20px;

    margin: 20px 40px;

    background-color: black;
}
